/*          COMMON          */

section {
  padding: 40px;
}

.themeColorHoverBtn {
  background: linear-gradient(to right, rgb(60, 0, 120), rgb(200, 0, 150));
  color: white;
}

.themeColorHoverBtn:hover {
  background: white;
  color: rgb(60, 0, 120);
}

/*          HEADER          */

header {
  position: relative;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(60, 0, 120),
    rgb(200, 0, 150)
  );
  color: white;
}

nav .appName {
  float: left;
}

nav li {
  float: right;
  list-style: none;
}

nav ul {
  padding: 5px;
}

nav .navLink {
  text-decoration: none;
  color: white;
  padding: 7px 15px;
  cursor: pointer;
}

nav .navLink:hover {
  color: #eee;
}
